@use 'scss/base/reset' as *;
@use 'scss/base/colors' as *;
@use 'scss/base/typography' as *;
@use 'scss/base/spacer' as *;
@use 'scss/abstracts/mixins' as *;
@use 'scss/components/card' as *;
@use 'scss/components/rating' as *;



body {
    font-family: $ff;
    position: relative;
    border: 1px solid transparent;

    .bg-top {
        position: absolute;
        background-size: cover;
        top: 0;
        left: 0;
    }
    .bg-bottom {
        position: absolute;
        background-size: cover;
        bottom: 0;
        right: 0;
    }
};

.container {
    margin: 7em 10em;

    @media (max-width: 1000px) {
        margin: var(--mar-md);
    }
};

.hero-ratings {
    @include f-row;
    justify-content: space-between;
    margin-bottom: 4em;
    
    @media (max-width: 1000px) {
        @include f-col;
        text-align: center;
        margin-bottom: 3em;
    }
}

.hero {
    max-width: 40%;
    h1 {
        color: var(--clr-primary-vd-ma);
        font-size: 3.4rem;
        line-height: 0.9;
        margin-bottom: var(--mar-sm);
    }
    p {
        color: var(--clr-neutral-dk-gr-ma);
        font-size: var(--fs-md);
    }

    @media (max-width: 1000px) {
        max-width: 100%;
        @include f-col;
        h1 {
            margin-top: var(--mar-md);
            font-size: 2.25rem;
            line-height: 0.8;
            padding: 0 var(--pad-base) ;        
        }
    }
}

.ratings {
    margin-top: var(--mar-lg);
    @include f-col();
    gap: 1rem;

    .rating {
        @include f-row;
        padding: var(--pad-base) var(--pad-xxl) var(--pad-base) var(--pad-lg);
        background-color: var(--clr-neutral-lt-gr-ma);
        border-radius: 0.5rem;

        &:nth-of-type(1) {
            margin-right: 6em;
        }
        &:nth-of-type(2) {
            margin-left: var(--mar-xxl);
            margin-right: var(--mar-xxl);
        }
        &:nth-of-type(3) {
            margin-left: 6em;
        }

        img {
            display: inline;
            padding: 0.2em;
            object-fit: contain;
        }
        h2 {
            font-size: var(--fs-md);
            margin-left: 2rem;
            color: var(--clr-primary-vd-ma)
        }  
    }
    @media (max-width: 1250px) {
        .rating {
            padding: 0;
            margin-top: var(--mar-base);
            @include f-col;
            align-items: center;
            gap: .5rem;
            padding: 0.7em;
            width: 100%;    
            &__stars {
                @include f-row;
                justify-content: center;
                img {
                    width: 1.5rem;
                }
            }
            h2 {
                font-size: 1.025rem;
                margin: 0;
            }
            &:nth-of-type(2) {
                margin: 0;
            }
            &:nth-of-type(3) {
                margin: 0;
            }
        }
    } 
}

.reviews {
    @include f-row;
    gap: 2em;
    .card {
        @include card;

        &:nth-of-type(1) {
            margin-bottom: var(--mar-lg);
        }
        &:nth-of-type(2) {
            margin-top: var(--mar-base);
            margin-bottom: var(--mar-base);
        }
        &:nth-of-type(3) {
            margin-top: var(--mar-lg);
        }
    }

    @media (max-width: 1000px) {
        @include f-col;
        gap: 1em;
        .card {
            @include card;
            padding: 0 var(--pad-xl);
            &__profile {
                margin-top: var(--mar-md);
            }
            p {
                margin-bottom: var(--mar-base);
            }

            &:nth-of-type(1) {
                margin-bottom: 0;
            }
            &:nth-of-type(2) {
                margin-top: 0;
                margin-bottom: 0;
            }
            &:nth-of-type(3) {
                margin-top: 0;
            }
            margin-bottom: 3em;
        }
    }
}